<!DOCTYPE html>
<html>

<head>
    <title>Motel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="wrapper-number">
        <div class="number">
            <p><%=money.total.toFixed(1).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')%> VNĐ</p>
        </div>
    </div>
</body>

</html>